<!DOCTYPE html>
<html lang="en" ng-app="BlockChain">
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles/bootstrap.css" rel="stylesheet" />
    <link href="styles/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="styles/mystyles.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <br />
    <div class="container-fluid" ng-controller="BlockChainController" ng-cloak>
        <div class="row">
            <div class="col-12 col-md-6">
                <button type="button" class="btn btn-outline-success" id="create_block_btn" ng-click="createBtnClickHandler($event)">
                    <i class="fa fa-plus"></i>  Create block
                </button>
                <button type="button" class="btn btn-outline-primary" id="change_pref_btn" data-toggle="modal" data-target="#pref_modal">
                    <i class="fa fa-wrench"></i>  Settings
                </button>
            </div>
        </div>
        <br />
        <div class="row" ng-show="blocks.length > 0">
            <div class="col-12 col-md-6 col-lg-4" ng-repeat="block in blocks">
                <div class="card" id="card{{$index}}">
                    <h4 class="card-header">Blockchain Block {{$index + 1}}</h4>
                    <p class="card-header">Status: {{block.mine_time}}</p>
                    <div class="card-body" ng-class="{bad_block: block.mine_action_perf && !block.good_block,
                                                      good_block: block.mine_action_perf && block.good_block }">
                        <form>
                            <div class="form-group row">
                                <label for="block_label_{{$index}}" class="col-sm-4 col-form-label">Block</label>
                                <div class="col-sm-8 input-group">
                                    <div class="input-group-addon">#</div>
                                    <input type="text" class="form-control" value="{{ block.id }}" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="parent_label_{{$index}}" class="col-sm-4 col-form-label">Parent</label>
                                <div class="col-sm-8 input-group">
                                    <input type="text" class="form-control" value="{{ block.parentID }}" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="data_label_{{$index}}" class="col-sm-4 col-form-label">Block data</label>
                                <div class="col-sm-8 input-group">
                                    <textarea class="form-control" rows="3" ng-keyup="onKeyUpHandler($event, $index)">{{ block.data }}</textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="nonce_label_{{$index}}" class="col-sm-4 col-form-label">None</label>
                                <div class="col-sm-8 input-group">
                                    <input type="text" class="form-control" value="{{ block.nonce }}" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="hash_label_{{$index}}" class="col-sm-4 col-form-label">Hash</label>
                                <div class="col-sm-8 input-group">
                                    <input type="text" class="form-control" value="{{ block.hash }}" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-primary" ng-click="mineBtnClickHandler($event, $index)"
                                            ng-class="{'disabled_btn': !block.parentMined && $index != 0 && !block.good_block }">
                                        <i class="fa" ng-class="{'fa-lock': !block.parentMined && $index != 0 && !block.good_block,
                                                            'fa-search': (block.parentMined && !block.good_block) || ($index == 0 && !block.good_block),
                                                            'fa-check': block.good_block}"></i>  Mine
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="loading-spiner-holder ng-hide" data-loading><div class="loading-spiner"><img src="img/loading.gif" /></div></div>
        <div class="modal fade" id="pref_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Set preferences</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <label for="updt_difficulty" class="col-sm-4 col-form-label">Difficulty</label>
                                <div class="col-sm-8 input-group">
                                    <input type="number" class="form-control" id="txt_difficulty" max=10 placeholder="difficulty" value="{{config.difficulty}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="updt_timeout" class="col-sm-4 col-form-label">Timeout (ms)</label>
                                <div class="col-sm-8 input-group">
                                    <input type="number" class="form-control" id="txt_timeout" placeholder="in milliseconds" value="{{config.timeout}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="updt_language" class="col-sm-4 col-form-label">Language</label>
                                <div class="col-sm-8 input-group">
                                    <select class="form-control" id="select_language" ng-model="select_index"
                                            ng-options="option as option.name for option in options"></select>
                                </div>
                            </div>
                            <div class="form-group row" ng-show="select_index.value != 1">
                                <label for="updt_timeout" class="col-sm-4 col-form-label">URL</label>
                                <div class="col-sm-8 input-group">
                                    <input type="text" class="form-control" id="txt_url" placeholder="enter url" value="{{config.url}}">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success confirmed" data-dismiss="modal" ng-click="saveBtnClickHandler($event)">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="container"></footer>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/popper.js"></script>
    <script src="scripts/bootstrap.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/sha256.js"></script>
    <script src="scripts/blockchain.js"></script>
</body>
</html>
