.bad_block{
    background-color: #ff000014 !important;
}
.good_block{
    background-color: #19ec1930 !important;
}
.disabled_btn{
    cursor: not-allowed;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}